body {
    background: 	#CD5C5C;
}
#form {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #203562;
    background: #FFFAFA;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}
#description
{
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}
h2
{
    font-size: 20px;
    font-weight: 500;
    margin-left: 3%;
}
#part1
{
    display: flex;
}
#part1 section
{
    width: 200%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#social_networks
{
    display: flex;
    width:100%;
}
#social_networks section
{
    width: 100%;
    padding-left: 10%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#experience{
    width: 100%;
    display: flex;
}
#experience section{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10px;
}
#experience_data {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 2%;
}
#skills {
    display: flex;
}
#skills section{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#skill_line{
    display: inline;
}
#edu{
    width: 100%;
    display: flex;
}
#edu section{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10px;
}
#edu_data {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 2%;
}
#selection {
    display: flex;
}
#selection h3{
    margin-right: 2%;
}
#lists {
    width: 100%;
    display: flex;
}
#lists section{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 10px;
}
[type="checkbox"]
{
    min-width: 20px;
    min-height: 20px;
    margin-right: 20px;
}
#languages ul {
    list-style: none;
    width: 130%;
}
#languages ul li{
    margin-bottom: 3%;
}
#submit {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
}
#responseDiv div{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    color: #FF5252;
    border-style: dashed;
    border-width: 1px;
}
input
{
    width: 91%;
    background: #E3E8F8;
    border-style: hidden;
}
input::placeholder{
    text-align: center;
}
input[type="submit"]
{
    width: 91%;
    height:  100px;
    font-weight: bolder;
    background: #F0E68C;
    border-style: hidden;
}
textarea{
    width: 91%;
    background: #E3E8F8;
    border-style: hidden;
}
textarea::placeholder{
    text-align: center;
}
select{
    background: #ADD8E6;
}
h3 {
    padding-left: 10%;
}
.back-button{
    margin-left: 40%;
    min-width: 20%;
    min-height: 10vw;
    margin-top: 50px;
    background: #6B8E23;
    color: 	#F5DEB3;
    font-weight: bolder;
    text-transform:  uppercase;
    text-align: center;
    font-size: 200%;
    border-style: solid;
}