body
{
    font-family: 'Open Sans',sans-serif;
    font-size: 70%;
    background-color: brown;
}

h2 {
    padding-left: 16px;
    font-size: 25px;
}
progress {
  display: block; 
  width: 120px;
  margin: 5px auto;
  padding: 0px;
  border: 0 none;
  border-radius: 20px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: #FFF;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);

}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
      height: 7px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 12px;
  background: #212121;
}
#cv
{
    background: #ffffff;
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}
#profile
{
    background: #1e1e1e;
    color:#a5a5a5;
    padding: 25px;
}

#intro
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a5a5a5;
}
#intro img
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 25px;
}
#intro header
{
    margin-right: 25px;
    text-transform: uppercase;
}
#intro header h1
{
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-weight: 300;
}
#intro header h2
{
    margin: 0;
    padding-left: 0px;
    color: #d07628;
    font-size: 40px;
    font-weight: 600;

}
#intro header h3
{
    margin: 0;
    color: #fff;
    font-weight: 400;
}
#about
{
    border-left: 2px solid #a5a5a5;
    padding: 15px;
}
#contact-info
{
    display:flex;
}
#contact-info ul {
    list-style: none;
}
#contact-info ul :first-child
{
    font-weight: 600;
}
#social-networks
{
    display: flex;
    justify-content: space-between;
    list-style:none;
}
#social-networks li a
{
    color: #a5a5a5;
    padding-left: 5px;
    text-transform: capitalize;
    text-decoration:none;
}
#experience_and_skills {
    display: flex;
    align-items: stretch;
}
#skills {
    width: 33.3%;
    height: auto;
}
#pro_skills {
    background: #29B6F6;
}
#per_skills {
    background: #D4E157;
}
#education {
    width: auto;
    background: #EEEEEE;
}
#hobbies_and_languages{
    display: flex;
    width: 100%;
}
#hobbies {
    width: 65%;
}
#hobbies ul{
    display: flex;
}
#hobbies ul li{
    display: grid;
    padding: 3%;
    align-items: stretch;
}
#hobbies ul li i{
    font-size: 250%;
    text-align: center;
    margin-bottom: 30%;
}
#hobbies ul li a {
    color: #37474F;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
#languages {
    width: 35%;
    background: #F5F5F5;
}
#languages section{
    display: flex;
    font-family: cursive;
    font-weight: 700;
}
#languages ul{
    list-style-type: none;
}
.table_list {
    width: 100%;
    align-items: stretch;
    margin-left: 5%;
}
.table_list td{
    align-items: stretch;
    padding-top: 2%;
}
.table_list i{
    font-size: 250%;
    text-align: center;
}
.table_list a {
    color: #37474F;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
.secondary_tytle{
    text-transform: uppercase;
    font-size: 200%;
    font-family: cursive;
    margin-top: 0%;
    padding-top: 3%;
}
.description {
    width: 60%;
    padding-left: 2%;
    padding-right: 4%;
}
.description section {
    width: 100%;
    display: inline-flex;
}
.description section aside{
    text-align: right;
    width: 20%;
    margin-right: 4%;
}
.description section aside h5{
    font-size: 150%;
    text-transform: uppercase;
    width: 100%;
    text-align: right;
    margin-bottom: 0%;
    color: dodgerblue;
    font-weight: 700;
    font-family: monospace;
}
.description section aside span{
    text-align: right;
    margin-right: 0%;
    margin-top: 0%;
    font-size: 65%;
    color: #616161;
    font-weight: 800;
}
.description section article{
    width: 80%;
    margin-top: 1%;
    font-family: cursive;
}
.description section article h4{
    margin-bottom: 0%;
    text-transform: capitalize;
    color: #212121;
}
.description section article p{
    margin-top: 0%;
    margin-right: 5%;
    color: #616161;
}
.description :last-child{
    padding-bottom: 1%;
}
.skills {
    width: 100%;
    height: auto;
    padding-left: 2%;
    padding-bottom: 3%;
    font-family: cursive;
}
.skills h3{
    margin-top: 0%;
    width: 100%;
    font-size: 200%;
    margin-left: 8%;
    margin-bottom: 0%;
}
.skills article{
    margin-top: 0%;
    display: flex;
    font-family: cursive;
    font-weight: bolder;
}
.skills article ul{
    margin-top: 5%;
    margin-left: 5%;
    list-style: none;
    font-size: 100%
}
.skills article ul li{
    margin-left: -50%;
}
.back-button{
    margin-left: 40%;
    min-width: 20%;
    min-height: 10vw;
    margin-top: 50px;
    background: #1e1e1e;
    color: #d07628;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-size: 280%;
    border-style: solid;

}
